* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: sans-serif;
}

.App {
  background-size: cover;
  background-image: url(../public/27954731_5400_8_04.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100dvh;
 
}

a {
  color: white;
  text-decoration: none;
  padding: 10dvh;
  font-size: 18px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 15dvh;
  width: 100dvw;
  background-color: rgb(224, 165, 195);
}



.container h1 {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.foot {
  display: flex;
  align-items: center;
  background-color: rgb(224, 165, 195);
  font-size: 10px;

  
}

.aside {
  text-align: center;
  padding: 10dvh;
}
